@import "tailwindcss";

@theme {
  --font-display: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --color-brand-purple: #7c3aed;
  --color-brand-blue: #2f80ed;
  --color-brand-bg-light: #f9f9f9;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff; /* Clean white background */
  color: #0f172a; /* Slate 900 for high readability */
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  color: #0f172a;
}